<div class="cabecera">
    <p class="cabecera" id="notice"><%= notice %></p>
    <p class="alert cabecera"><%=alert%></p>
</div>
        <h3>Turno</h3>
        <%= render 'form', vaccine: @vaccine %>


