<h2>Seleccione el tipo de reporte que desea generar</h2>
<p><%= link_to "Vacunadores", estadisticos_new_path %></p>
<p><%= link_to "Vacunas", estadisticos_vacunas_path %></p>
<p><%= link_to "Vacunatorios", estadisticos_edit_path %></p>
