// Place all the styles related to the Vaccinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.espacio {
    margin-top: 20px;
    margin-left: 20px;
}

.tamanio-fuente {
    font-size: 25px;
}

.tamanio-lista {
    font-size: 20px!important;
}

.margen p {
    font-family: 20px;
}